.footer-wrapper{
    background-color: var(--blue-header);
    padding: 65px 0;
}
.footer-wrapper-content{
    position: relative;
}
.footer-wrapper-content::after{
    content: '';
    top: 0;
    right: 0;
    height: 242px;
    border: 1px solid #e5e5e517;
    position: absolute;
}
.footer-wrapper-main{
    display: flex;
    justify-content: center;
}
.linklist h4{
    font-size: 22px;
    font-weight: 400;
    color: var(--text-white);
    position: relative;
    padding-bottom: 15px;
}
.linklist h4::after{
    content: '';
    bottom: 0;
    left: 0;
    width: 43px;
    border-bottom: 2px solid #fff;
    position: absolute;
}
.linklist{
    padding: 0 30px;
}
.linklist ul li a, .linklist ul li, .linklist p{
    color: var(--text-white);
    font-size: 16px;
    FONT-WEIGHT: 300;
    cursor: pointer;
    transition: all 0.4s ease;
}
.linklist ul, .contact-info, .email-subscription{
    margin-top: 20px;
}
.linklist ul li{
    margin-bottom: 7px;
}
.contact-icon{
    padding: 10px 0;
    color: #fff;
}
.email-subscription input{
    outline: none;
    border: none;
    line-height: 40px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    width: 100%;
    padding: 0 15px;
}
.email-subscription p{
    font-size: 14px;
    margin-bottom: 15px;
}
.subscribe-btn{
    border: none;
    background-color: var(--theme-color);
    color: var(--text-white);
    padding: 5px 30px;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid var(--theme-color);
    transition: all 0.4s ease;
    margin-top: 15px;
}
.subscribe-btn:hover{
    background-color: var(--text-white);
    color: var(--theme-color) !important;
    border: 2px solid var(--theme-color);
}
.linklist.newsletter::after{
    border: none;
}
.accordion{
    display: none;
}
@media (max-width:1599px){
    .badfooter-after-block{
        padding: 12px 30px !important;
    }
}
@media (max-width:1399px){
    .linklist h4 {
        font-size: 20px;
    }
    .linklist ul li a, .linklist ul li, .linklist p {
        font-size: 15px;
    }    
}
@media (max-width: 1099px){
    .footer-wrapper {
        padding: 45px 0;
    }
    .footer-wrapper-content::after {
        height: 226px;
    }
}
@media (max-width: 991px){
    .footer-wrapper-main {
        display: flex;
        justify-content: flex-start;
    }
    .accordion{
        display: block;
        background-color: var(--blue-header);
    }
    .footer-wrapper{
        display: none;
    }
    .linklist h4::after{
        border-bottom: none;
    }
    .linklist h4{
        padding-bottom: 0;
    }
    .accordion-button:not(.collapsed) {
        color: #fff;
        background-color: #222b37;
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    }
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        cursor: pointer;
        background: #222b37;
    }
    .linklist h4 {
        font-size: 17px;
        padding: 0 0;
        margin: -10px;
        left: -21px;
    }
    .linklist.newsletter{
        margin-left: 0px !important;
        padding: 24px;
    }
    .linklist.newsletter h4{
        padding-left: 30px;
    }
    .accordion-body{
        background-color: var(--blue-header);
    }
    .accordion-button{
        border-bottom: 1px solid;
    }
    .contact-icon p{
        color: #fff;
    }
    .contact-info{
        margin: 0;
    }
    .accordion-linklist{
        margin: -14px -21px 0px;
    }
    .subscribe-btn-main{
        border: none;
        background-color: var(--theme-color) !important;
        color: var(--text-white);
        padding: 5px 30px;
        font-size: 16px;
        font-weight: 400;
        transition: all 0.4s ease;
        margin-top: 15px;
    }
    .subscribe-btn-main:hover{
        background-color: var(--text-white) !important;
        color: var(--theme-color) !important;
    }
    .accordion-footer .accordion-button:after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
      }
    /* FOOTER AFTER */
    .badfooter-socialicon-block {
        justify-content: flex-start !important;
    }
    .facebook a{
        padding-left: 0 !important;
    }
    .badfooter-copyright-content{
        padding: 10px 0 5px;
    }
    .badfooter-after-block-inner, 
    .badfooter-socialicon-block{
        display: flex;
        justify-content: center !important;
        text-align: center;
    }
}
/* FOOTER AFTER */
.badfooter-after-block {
    background-color: #000;
    padding: 12px 0;
}
.badfooter-copyright-content a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 20px;
}
.badfooter-socialicon-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.badfooter-socialicon-content {
    margin: 0;
}
.badfooter-socialicon-content li {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
}
.badfooter-socialicon-content li a {
    display: block;
    color: #fff;
    padding-left: 15px;
}